body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    line-height: 40px;
}
h2{
    font-size: 35px;
    line-height: 20px;
}
h3{
    font-size: 30px;
    color: white;
    font-family: 'Moon Dance', cursive;
    font-style: italic;
}
h5{
    font-size: 20px;
}
h6{
    color: white;
    text-align: center;
}
.section-area{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    margin-bottom: 150px;
}
.heading-color{
    color: 	rgb(3, 176, 245)
}
.header-title-area{
    margin-top: 200px;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;
    border-left: 5px solid;
    padding-left: 10px;
}
.width-helf{
    width: 50%;
}
.header-image-width{
    width: 90%;
    padding-left: 25%;
}
.button01{
border-radius: 5px;
text-decoration: none;
color: white;
background-image: linear-gradient(90deg, rgb(241, 10, 10),rgb(0, 0, 12));
padding: 10px 35px;
}
.button02{
    border-radius: 5px;
    text-decoration: none;
    color: white;
    
    padding: 10px 35px;
    background-color: rgb(5, 171, 236);
}
.mar-top{
    margin-top: 45px;
}
.mar-bottom{
    margin-bottom: 45px;
}
.title-align{
    text-align: center;
}
#text-2022{
    color: violet;
}
.illus-img-width{
    width: 40%;
}
.width-one-third{
    width: 25%;
    align-items: center;
    border-radius: 10px;
    margin-right: 3%;
    padding: 25px;
}
#ill-sec-01-color{
    background-color: skyblue;
}
#ill-sec-02-color{
    background-color: #e99494;
}
#ill-sec-03-color{
    background-color: #ecc762;
}
.coding-image-area{
    width: 33%;
    margin-right: 45px;
}

.image-width-cod-com{
    width: 100%;
}
#dev-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15% 55%;
    background-position: 3% 50%;
}

#community-bg{
    padding-bottom: 8%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15% 45%;
    background-position: 95% 95%;
}
.width-two-third{
    width: 60%;
}
.community-image-area{
    width: 33%;
    margin-left: 45px;
}
.footer-section{
    background-color: black;
    padding: 3%;
}
.price-section{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
ul{
    text-align: left;
    margin-bottom: 45px;
}
li{
    font-size: 16px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}
.contact-section{
    border-radius: 10px;
    border: 1px solid gray;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
}
.contact-section p{
    line-height: 0;
}
.inputstyle{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 6px;
}
.submitArea{
    background-color: #04AA6D;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 35px;
}
